/* Tipografía */
/*@font-face {
  font-family: "JetBrains Mono", monospace;
  font-style: Extra-Bold;
  font-weight: 40;
}*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

/* Variables */
:root {
  --primario: black;
  --primario-claro: white;
  --primario-fuerte: rgb(255, 4, 251);
  --secundario: #002f3f;
  --secundario-2: #f26b6c;
  --secundario-3: #e8e5f2;
  --secundario-4: #ebe721;
  --secundario-5: #cbeaf1;
  --bg: white;
  --font-family-titulos: "JetBrains Mono";
  --font-family-textos: "Merriweather";
  --font-size: 17px;
  /* --h1: 180px;
  --h2: 130px;
  --h3: 90px;
  --h4: 33px;
  --h5: 24px;
  --h6: 17px; */
}

/* Base */
body {
  font-family: var(--font-family-textos);
  font-weight: 400;
  margin: 30px;
  background-color: var(--bg);
  cursor: url(https://res.cloudinary.com/alexiavilar/image/upload/v1619543032/Portafolio/smiley_d9zxvi.svg),
    auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-titulos);
  font-weight: lighter;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--primario);
}

a {
  text-decoration: none;
}

/* Componentes */

.proyectos-indiv h2 {
  font-size: 130px;
  font-weight: lighter;
  line-height: 140px;
  color: var(--primario);
}

.menu {
  max-width: 200px;
  max-height: 200px;
  position: sticky;
}
/*
.menu "scroll", () => {
  const scrolled = window.pageYOffset;
  const rotateCoefficient = 0.1;
  const particle = document.querySelector(".particle");
  particle.style.transform = `rotate(${scrolled * rotateCoefficient}deg)`;
};
*/
.menu a:hover {
  color: var(--secundario);
}

.titulo {
  top: 0;
  font-family: var(--font-family-titulos);
  font-weight: bolder;
  grid-area: titulo;
  font-size: 40px;
  line-height: 150px;
  color: var(--primario);
  text-align: center;
}

.texto-principal {
  grid-area: texto-principal;
  font-family: var(--font-family-textos);
  font-style: italic;
  font-size: 12px;
  color: var(--primario);
  line-height: 14px;
  align-self: center;
}

.header {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "titulo titulo"
    "yo texto-principal";
}
.header {
  grid-area: menu;
}

.nav {
  display: inline-block;
  grid-area: nav;
}

.nav a:hover {
  color: var(--secundario);
}

.nav ul {
  font-size: 15pt;
  font-family: var(--font-family-titulos);
  font-weight: bolder;
  position: static;
}

.yo {
  width: 315px;
  height: 450px;
}

.proyectos {
  display: grid;
  grid-auto-flow: column;
  gap: 60px;
  overflow-x: scroll;
}

.proyectos > * {
  position: relative;
}

.hero {
  display: grid;
  place-content: center;
}

.hero .hero-titulo {
  font-family: var(--font-family-titulos);
  font-weight: bolder;
  font-size: 40px;
  line-height: 150px;
  color: var(--primario);
  text-align: center;
}

.hero .intro {
  display: flex;
  flex-direction: row;
}

.hero {
}

/* .mascara {
  width: 450px;
  height: 450px;
  background: var(--primario);
  opacity: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.proyectos:hover .mascara {
  opacity: 0.6;
  text-align: justify;
  font-size: 90px;
  font-weight: lighter;
  color: white;
  padding: 30px;
  top: 0;
  left: 0;
} */

.editorial {
  width: 450px;
  height: 450px;
  /* flex-basis: 450px; */
}

.fotografia {
  width: 450px;
  height: 450px;
  /* flex-basis: 450px; */
}

.diseno-web {
  width: 450px;
  height: 450px;
  /* flex-basis: 450px; */
}

.diseno-app {
  width: 450px;
  height: 450px;
  /* flex-basis: 450px; */
}

.diseno-app[UX-UI] {
  position: absolute;
  /* flex-basis: 450px; */
}

.tipografia {
  width: 450px;
  height: 450px;
  /* flex-basis: 450px; */
}

.proyectos img {
  width: 100%;
  height: 100%;
}

.cat {
  background-color: var(--secundario);
  color: white;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.cat2 {
  background-color: var(--secundario-2);
  color: white;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.cat3 {
  background-color: var(--secundario-3);
  color: black;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.cat4 {
  background-color: var(--secundario-4);
  color: black;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.cat5 {
  background-color: var(--secundario-5);
  color: black;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.cat6 {
  background-color: var(--secundario);
  color: white;
  padding: 50px;
  position: relative;
  overflow: hidden;
}
.cat-close {
  font-family: var(--font-family-titulos);
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  top: 20px;
  left: 20px;
}

.cat-seccion {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.cat-desc-container {
  padding: 0 90px;
  /* margin-top: 300px; */
}

.scroll {
  display: grid;
  grid-auto-flow: column;
  gap: 1000px;
  overflow-x: scroll;
  /*overflow: hidden;
  max-width: 90vw;
  margin: 0 auto;*/
}

.scroll > * {
  position: relative;
}

.cat-img {
  flex-shrink: 0;
}
.cat-nombre {
  font-size: 28px;
}

.cat-descripcion {
  font-size: 11px;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 2px solid black;
}

.carrusel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carrusel .open:checked + figure {
  position: static;
  opacity: 100;
}

.carrusel figure {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.carrusel figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carrusel-nav {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: opacity 0.4s linear;
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carrusel-nav.anterior {
  left: 0.5ch;
}

.carrusel-nav.siguiente {
  right: 0.5ch;
}

.carrusel-nav:hover {
  opacity: 0.8;
}

#uno:checked ~ .uno,
#dos:checked ~ .dos,
#tres:checked
  ~ .tres
  #cuatro:checked
  ~ .cuatro
  #cinco:checked
  ~ .cinco
  #seis:checked
  ~ .seis
  #siete:checked
  ~ .siete
  #ocho:checked
  ~ .ocho
  #nueve:checked
  ~ .nueve {
  display: none;
}

.carrusel-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carrusel-dots li {
  display: inline-block;
  margin: 0 0.5rem;
}

.dot {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  transition: opacity 0.4s linear;
}

.dot:hover {
  opacity: 0.8;
}

#uno:checked ~ .uno ~ .carrusel-dots li:nth-child(1) .dot,
#dos:checked ~ .dos ~ .carrusel-dots li:nth-child(2) .dot,
#tres:checked ~ .tres ~ .carrusel-dots li:nth-child(3) .dot,
#cuatro:checked ~ .cuatro ~ .carrusel-dots li:nth-child(4) .dot,
#cinco:checked ~ .cinco ~ .carrusel-dots li:nth-child(5) .dot,
#seis:checked ~ .seis ~ .carrusel-dots li:nth-child(6) .dot,
#siete:checked ~ .siete ~ .carrusel-dots li:nth-child(7) .dot,
#ocho:checked ~ .ocho ~ .carrusel-dots li:nth-child(8) .dot,
#nueve:checked ~ .nueve ~ .carrusel-dots li:nth-child(9) .dot {
  color: var(--primario-fuerte);
}

.contact-me {
  margin: 500px;
  font-family: var(--font-family-textos);
  font-size: 50px;
  font-weight: bold;
  color: var(--primario);
  align-self: center;
  background-color: var(--secundario-3);
}
