@font-face {
  font-family: "Marion.woff2";
  /* src: url("./fonts/Marion.woff2") format("woff2"); */
  src: url("https://res.cloudinary.com/alexiavilar/raw/upload/v1612453108/Portafolio/Marion_The_Essentials_b8crkp.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

body {
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marion.woff2";
}
